210-ArchiDistribue/TD/3-SOAP/documentsDeTD/getDate1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
                  xmlns:tns="http://mondomaine.fr/monAppli" 
                  xmlns:s="http://www.w3.org/2001/XMLSchema" 
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
                  targetNamespace="http://mondomaine.fr/monAppli" 
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://mondomaine.fr/monAppli">
      <s:element name="getDate1">
        <s:complexType/>
      </s:element>
      <s:element name="getDate1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDate1Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getDate1SoapIn">
    <wsdl:part name="parameters" element="tns:getDate1"/>
  </wsdl:message>
  <wsdl:message name="getDate1SoapOut">
    <wsdl:part name="parameters" element="tns:getDate1Response"/>
  </wsdl:message>
  <wsdl:portType name="ServiceDateSoap">
    <wsdl:operation name="getDate1">
      <wsdl:input message="tns:getDate1SoapIn"/>
      <wsdl:output message="tns:getDate1SoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceDateSoap" type="tns:ServiceDateSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getDate1">
      <soap:operation soapAction="http://mondomaine.fr/monAppli/getDate1" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceDateSoap12" type="tns:ServiceDateSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getDate1">
      <soap12:operation soapAction="http://mondomaine.fr/monAppli/getDate1" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceDate">
    <wsdl:port name="ServiceDateSoap" binding="tns:ServiceDateSoap">
      <soap:address location="http://localhost/ws.asmx"/>
    </wsdl:port>
    <wsdl:port name="ServiceDateSoap12" binding="tns:ServiceDateSoap12">
      <soap12:address location="http://localhost/ws.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>